/*
    Copy this template to secrets.h and fill in your secrets

    Make sure secrets.h is listed in .gitignore
*/
#pragma once
const char SECRET_WIFI_SSID[] = "";
const char SECRET_WIFI_PASSWORD[] = "";
